<a href="https://colab.research.google.com/github/seoultech22/seoultech22/blob/main/Pandas_%EA%B8%B0%EC%B4%88_%EB%B0%8F_%EC%8B%A4%EC%8A%B5_0308.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 모듈/패키지 import
* 패키지(package)는 모듈(module)의 묶음입니다. 모듈은 다양한 변수, 함수, 클래스 등을 담고 있고, 패키지는 다양한 모듈을 담고 있습니다.
* 이번 시간에는 pandas 패키지에 대해 다뤄볼 것입니다.
* pandas는 Python에서 데이터 처리를 하기 위해 개발된 라이브러리로, 데이터 분석과 같은 작업에서는 필수 라이브러리로 알려져 있습니다. pandas 패키지를 불러올 때는 일반적으로로 별칭 '**`pd`**' 로 작성합니다.
* Pandas 공식 문서 (영문): https://pandas.pydata.org/docs/user_guide/index.html#user-guide

In [6]:
# Pandas 불러오기
# import 모듈/패키지 as 별칭
import pandas as pd
print('pandas version:', pd.__version__)

pandas version: 1.3.5

# Pandas 자료구조

## Series
* 1차원 데이터 구조

### Series 객체 생성     
* 객체 생성
  * **`pd.Series(1차원데이터)`**
* 인덱스 변경 
  * **`시리즈객체.index = 인덱스리스트`**
* 시리즈 데이터에 이름 붙이기
  * **`시리즈객체.name = 데이터이름`**
* 시리즈 인덱스에 이름 붙이기
  * **`시리즈객체.index.name = 인덱스이름`**

In [7]:
# Series 객체 생성
# a = pd.Series[100,50,30,10] 와 같은 방법으로 한 줄에 입력해도 됩니다.
data = [100,50,30,10]
a = pd.Series(data)
a

0    100
1     50
2     30
3     10
dtype: int64

In [8]:
# 인덱스 변경
a.index = ['A', 'B', 'O', 'AB']
a

A     100
B      50
O      30
AB     10
dtype: int64

In [9]:
# 시리즈객체 네이밍
a.name = '혈액형'
a

A     100
B      50
O      30
AB     10
Name: 혈액형, dtype: int64

In [10]:
# 인덱스 네이밍
a.index.name = '혈액형별 인원 수'
a

혈액형별 인원 수
A     100
B      50
O      30
AB     10
Name: 혈액형, dtype: int64

### Series 데이터 접근

* Series 데이터 접근
  * 인덱스와 순번으로 모두 접근할 수 있다.
  * **`시리즈객체[인덱스]`**, **`시리즈객체[순번]`**
  * **`시리즈객체[인덱스리스트]`**, **`시리즈객체[순번리스트]`**
  * **`시리즈객체[인덱스슬라이스]`**, **`시리즈객체[순번슬라이스]`**
  * 인덱스로 슬라이스할 때, 끝 인덱스의 데이터 포함

In [11]:
# A형은 몇명인가요?(인덱스)
a['A']

100

In [12]:
# A형은 몇명인가요?(행번호)
a[0]

100

In [13]:
# A형, O형은 각각 몇명인가요?(인덱스리스트)
a[['A', 'O']]

혈액형별 인원 수
A    100
O     30
Name: 혈액형, dtype: int64

In [17]:
# A형, O형은 각각 몇명인가요?(행번호리스트)
a[[0,2]]

혈액형별 인원 수
A    100
O     30
Name: 혈액형, dtype: int64

In [19]:
# A형부터 O형까지 각각 몇명인가요?(인덱스슬라이스)
a['A':'O']

혈액형별 인원 수
A    100
B     50
O     30
Name: 혈액형, dtype: int64

In [20]:
# A형부터 O형까지 각각 몇명인가요?(행번호슬라이스)
a[0:3]

혈액형별 인원 수
A    100
B     50
O     30
Name: 혈액형, dtype: int64

### Series 인덱스 재지정
* **`시리즈객체.reset_index()`**     
기존 인덱스는 컬럼으로 만들고, 0부터 시작하는 정수로 인덱스를 재지정한다.
  * 원본에 반영하려면 inplace=True 옵션을 부여합니다.

In [21]:
# 이전에 만들어두었던 a 시리즈 객체는 계속 사용해야 하므로, 별도의 사본 a1를 추가, 지정하겠습니다.
a1 = a

# a1.reset_index(inplace=True)
a1 = a1.reset_index()
a1

  혈액형별 인원 수  혈액형
0         A  100
1         B   50
2         O   30
3        AB   10

### Series를 DataFrame 구조로 만들기
* **`시리즈객체.to_frame()`**

In [22]:
# 이전에 만들어두었던 a 시리즈 객체는 계속 사용해야 하므로, 별도의 사본 a2를 추가, 지정하겠습니다.
a2 = a
a2 = a2.to_frame()
a2

           혈액형
혈액형별 인원 수
A          100
B           50
O           30
AB          10

### Series 변경
* 데이터 추가/수정
  * 시리즈객체[인덱스] = 데이터
* 데이터 삭제
  * del 시리즈객체[인덱스]

In [23]:
# C형 3명
a['C'] = 3
a

혈액형별 인원 수
A     100
B      50
O      30
AB     10
C       3
Name: 혈액형, dtype: int64

In [24]:
# C형 삭제
del a['C']
a

혈액형별 인원 수
A     100
B      50
O      30
AB     10
Name: 혈액형, dtype: int64

## DataFrame
* DataFrame 객체 생성
  * **`pd.DataFrame(딕셔너리)`**
  * **`pd.DataFrame(2차원리스트)`**
    * 2차원 리스트로 DataFrame에 대입하는 경우, 별도의 Column 이름을 지정해야 합니다.

### DataFrame 객체 생성

In [25]:
d = {'이름':['철수','영희','길동','길순','무개'],
     '나이':[15,16,20,19,23],
     '키':[160.5,158.3,175.0,178.4,185.0]}

# Pandas DataFrame 객체 df1 생성
df1 = pd.DataFrame(d)
df1

   이름  나이      키
0  철수  15  160.5
1  영희  16  158.3
2  길동  20  175.0
3  길순  19  178.4
4  무개  23  185.0

In [26]:
s = [['철수',15,160.5],
     ['영희',16,158.3],
     ['길동',20,175.0],
     ['길순',19,178.4],
     ['무개',23,185.0]]

# Pandas DataFrame 객체 df2 생성
df1 = pd.DataFrame(s)
df1

    0   1      2
0  철수  15  160.5
1  영희  16  158.3
2  길동  20  175.0
3  길순  19  178.4
4  무개  23  185.0

### index, columns 다시 지정하기
* **`데이터프레임객체.index = 인덱스리스트`**
* **`데이터프레임객체.columns = 컬럼리스트`**
* **`데이터프레임객체.set_index(컬럼명, inplace=True)`**       
  * 특정 컬럼을 인덱스로 지정한다.
* **`데이터프레임객체.reset_index( inplace=True )`**      
  * 인덱스를 컬럼으로 만든 후 인덱스는 0부터 시작하는 정수로 자동 지정된다.
  * drop 옵션을 True로 지정하면 기존 인덱스에 설정된 데이터를 삭제하고, None으로 지정하면 기존 인덱스에 설정된 데이터를 인덱스가 아닌 컬럼으로 반환합니다.
  * 원본에 반영하려면 inplace=True 옵션을 부여합니다.

In [27]:
# 컬럼명 지정 (컬럼명: '이름', '나이', '키')
df1.columns = ['이름', '나이', '키']
df1

   이름  나이      키
0  철수  15  160.5
1  영희  16  158.3
2  길동  20  175.0
3  길순  19  178.4
4  무개  23  185.0

In [29]:
# 특정 컬럼을 인덱스로 지정 (인덱스로 지정할 컬럼명: '이름')
df1.set_index('이름')
df1

   이름  나이      키
0  철수  15  160.5
1  영희  16  158.3
2  길동  20  175.0
3  길순  19  178.4
4  무개  23  185.0

In [31]:
# 순번으로 인덱스 리셋 (인덱스 컬럼을 삭제하지 않고 복원하는 조건 부여)
df1.reset_index(inplace = True)
df1

   index  이름  나이      키
0      0  철수  15  160.5
1      1  영희  16  158.3
2      2  길동  20  175.0
3      3  길순  19  178.4
4      4  무개  23  185.0

### 인덱스, 컬럼명에 이름 붙이기
* **`데이터프레임객체.index.name = 인덱스이름`**
* **`데이터프레임객체.columns.name = 컬럼이름`**

In [32]:
# 인덱스 네이밍 '학번'
df1.index.name='학번'
df1

    index  이름  나이      키
학번
0       0  철수  15  160.5
1       1  영희  16  158.3
2       2  길동  20  175.0
3       3  길순  19  178.4
4       4  무개  23  185.0

In [33]:
# 컬럼네이밍 '학생부'
df1.columns.name = '학생부'
df1

학생부  index  이름  나이      키
학번
0        0  철수  15  160.5
1        1  영희  16  158.3
2        2  길동  20  175.0
3        3  길순  19  178.4
4        4  무개  23  185.0

### 데이프레임을 파일로 내보내기
* 데이터프레임객체.to_csv(파일경로)
* 일반적으로 한글이 포함되어 있는 경우, encoding='utf-8 sig'를 넣어 저장하면 한글 인코딩이 깨지지 않습니다.
  * 사용 예시: 데이터프레임객체.to_csv(파일경로, encoding='utf-8 sig')

In [34]:
df1.to_csv('/content/student.csv', encoding='utf-8 sig')

# 데이터 수집/확인

## csv 파일로 데이터프레임 생성
* pd.read_csv(파일경로, encoding=**인코딩옵션**)
    * encoding : 데이터에 한글이 포함되고, 파일 형식이 utf-8이 아닌 경우, encoding옵션 지정
        * cp949 : 윈도우에서 쓰이는 한글 코드셋
* 파일의 처음 행이 컬럼명으로 자동 지정된다.         
     
* 인덱스는 0부터 시작하는 정수로 자동 지정된다.
* 특정 열을 인덱스로 만들기
  * 데이터프레임객체.set_index(컬럼명)

In [37]:
# csv파일에서 데이터를 읽어와 데이터프레임객체 scores 만들기
scores = pd.read_csv('/content/scores.csv', encoding='cp949')
scores

     학번        이름 성별     국어   영어     수학
0  1101       amy  f  100.0   90   95.0
1  1102      mary  f   90.0   80   75.0
2  1103  isabella  f   95.0  100  100.0
3  1104    evelyn  f  100.0  100  100.0
4  1105       mia  f    NaN   35   60.0
5  1106     allen  m   70.0   75   65.0
6  1107    daniel  m   80.0   90   55.0
7  1108    patric  m   50.0   60    NaN
8  1109     kevin  m  100.0  100   90.0
9  1110      john  m   90.0   95   70.0

In [45]:
# '학번'컬럼을 인덱스로 지정 (inplace=True 옵션을 사용하면 복사본을 만들지 않아도 됩니다.)
df1.set_index = '학번'
df1

학생부  index  이름  나이      키
학번
0        0  철수  15  160.5
1        1  영희  16  158.3
2        2  길동  20  175.0
3        3  길순  19  178.4
4        4  무개  23  185.0

## 데이터 미리보기
* 상위 n개 행 보기(n의 초기값:5)
  * **`데이터프레임객체.head(n)`** 
* 하위 n개 행 보기(n의 초기값:5)
  * **`데이터프레임객체.tail(n)`** 
* 랜덤 n개 행 보기(n의 초기값:1)
  * **`데이터프레임객체.sample(n)`** 
* 랜덤 n% 행 보기
  * **`데이터프레임객체.sample(frac=비율)`**

In [46]:
# 상위 3개행 미리보기
scores.head(3)

     학번        이름 성별     국어   영어     수학
0  1101       amy  f  100.0   90   95.0
1  1102      mary  f   90.0   80   75.0
2  1103  isabella  f   95.0  100  100.0

In [49]:
# 하위 3개행 미리보기
scores.tail(3)

     학번      이름 성별     국어   영어    수학
7  1108  patric  m   50.0   60   NaN
8  1109   kevin  m  100.0  100  90.0
9  1110    john  m   90.0   95  70.0

In [50]:
# 랜덤 3개행 미리보기
scores.sample(3)

     학번      이름 성별     국어   영어     수학
3  1104  evelyn  f  100.0  100  100.0
8  1109   kevin  m  100.0  100   90.0
5  1106   allen  m   70.0   75   65.0

In [51]:
# 랜덤 20% 미리보기
scores.sample(frac=0.2)

     학번    이름 성별    국어  영어    수학
9  1110  john  m  90.0  95  70.0
1  1102  mary  f  90.0  80  75.0

## 데이터프레임 구조 보기
* 데이터프레임 구조 
  * **`데이터프레임객체.info()`**
* 행,열의 크기
  * **`데이터프레임객체.shape`**
* 데이터 갯수
  * **`데이터프레임객체.size`**
* 데이터프레임 컬럼별 자료형
  * **`데이터프레임객체.dtypes`**

In [ ]:
# 데이터프레임 구조

In [ ]:
# 데이터프레임 행,열 크기

In [ ]:
# 데이터프레임 개수

In [ ]:
# 데이터프레임 컬럼별 자료형

# DataFrame 탐색

## 통계값 확인하기
* 통계값은 데이터의 자료형이 숫자형인 경우 사용할 수 있다.
* 요약통계
  * **`데이터프레임객체.describe()`**
  * **`시리즈객체.describe()`**
* 컬럼별 통계
  * **`데이터프레임객체.통계함수()`**
  * **`시리즈객체.mean()`**
  * 개별통계함수 : mean(), min(), max(), median(), std() 등

In [ ]:
# 요약통계 (DataFrame)
scores.describe()

In [ ]:
# 요약통계 (Series 객체)
scores['국어'].describe()

In [ ]:
# 개별통계: 평균
scores.mean()

In [ ]:
# 개별통계: 최소

In [ ]:
# 개별통계: 최대

In [ ]:
# 개별통계: 중간값

In [ ]:
# 개별통계: 표준편차

## 유니크한 데이터 보기
* `unique()` : unique란, Pandas에서 해당 칼럼이 갖고 있는 유일한 값을 의미합니다. unique 관련 함수를 통해 해당 칼럼이 갖고 있는 유일한 값과 그 값의 개수를 구할 수 있습니다. 단, 시리즈객체에만 적용 가능합니다.
* 시리즈객체.unique() --> 유니크한 데이터 추출
* 시리즈객체.nunique() --> 유니크한 데이터의 갯수 추출

In [ ]:
# unique한 데이터 추출

In [ ]:
# unique한 데이터 개수 추출

## 데이터 별 값의 갯수 보기(빈도수)
* `value_counts()`
* 데이터프레임객체.value_counts()
* 시리즈객체.value_counts()

In [ ]:
# 데이터프레임객체로 데이터 별 빈도수 보기

In [ ]:
# 시리즈객체로 데이터 별 빈도수 보기

## 데이터 정렬하기
* 인덱스로 정렬
    * 시리즈객체.sort_index()
    * 데이터프레임객체.sort_index()
* 값으로 정렬
    * 시리즈객체.sort_values()
    * 데이터프레임객체.sort_values(정렬기준컬럼[리스트])
    * 사용 예시: 데이터프레임객체.sort_values(['나이'])
* 정렬방법
    * 기본은 오름차순
    * 내림차순 정렬 옵션 : `ascending=False`
    * 사용 예시: 데이터프레임객체.sort_values(['나이'], ascending=False)

In [ ]:
# 인덱스로 정렬하기

In [ ]:
# 값으로 정렬하기

In [ ]:
# 내림차순으로 정렬하기

# 데이터 선택

## 컬럼의 데이터 조회 및 선택
* 데이터프레임객체['컬럼명']
* 데이터프레임객체[컬럼명리스트]

In [ ]:
# '이름' 컬럼의 데이터 조회
scores['이름']

In [ ]:
# 여러 컬럼의 데이터를 조회할 때는 리스트 형태로 넣어줍니다.
# scores[['column1', 'column2']]

In [ ]:
# '이름','국어' 컬럼의 데이터 선택

In [ ]:
# '이름','성별' 컬럼의 데이터 선택

## 행,열 데이터 선택

### loc[행,열] : 행이름,열이름 사용
* 행 - 행이름, 행이름리스트, 행이름슬라이스
* 열 - 열이름, 열이름리스트, 열이름슬라이스
* 이름으로 슬라이스 할 때는 마지막데이터 포함

In [ ]:
# 인덱스(학번)가 1101인 학생의 데이터 선택
scores.loc[1101]

In [ ]:
# 인덱스(학번)가 1101, 1105인 학생의 데이터 선택

In [ ]:
# 인덱스 1101부터 1103까지 선택

In [ ]:
# 인덱스가 1103인 학생의 '이름'을 선택

In [ ]:
# 인덱스가 1103인 학생의 '이름'과 '수학'점수를 선택

In [ ]:
# 인덱스가 1101, 1102인 학생의 '국어'~'영어' 점수를 선택
scores.loc[[1101, 1102], '국어':'영어']

In [ ]:
# 인덱스가 1101부터 1105까지인 학생의 '국어'~'수학' 점수를 선택

### iloc[행,열] : 행번호,열번호 사용
* 행 - 행번호, 행번호리스트, 행번호슬라이스
* 열 - 열번호, 열번호리스트, 열번호슬라이스
* 번호로 슬라이스 할 때는 마지막데이터 미포함
  * 사용 예시: 데이터프레임객체.iloc[0:1, -1:]

In [ ]:
# 0번 행의 학생 데이터 선택
scores.iloc[0]

In [2]:
# 0~2번 행의 마지막 열 데이터 선택

In [3]:
# 1,2,4번 열의 모든 행을 선택

## 조건으로 데이터 선택
* **`데이터프레임객체[조건]`**
* 비교연산
  * 비교연산자는 기본 파이썬의 비교연산자와 동일하다 : >, <, >=, <=, ==, !=
* 논리연산
  * 여러 조건을 결합하는 경우 각 조건은 소괄호로 묶는다.
  * 논리연산자는 기호를 사용한다.
    * and-->&, or-->|, not-->^
* 멤버연산
  * 데이터프레임객체[컬럼명].isin(value리스트)
* null여부
   * 데이터프레임객체[컬럼명].isnull()
   * 데이터프레임객체[컬럼명].notnull()

In [4]:
# 국어점수가 100점인 학생의 모든 데이터

In [5]:
# 국어점수가 100점인 학생의 이름, 성별, 국어 
scores[['이름', '성별', '국어']][scores['국어']==100]

NameError: ignored

In [ ]:
# 국어,영어,수학 모두 100점인 학생의 모든 데이터
scores[(scores['국어']==100)&(scores['영어']==100)&(scores['수학']==100)]

In [ ]:
# 국어,영어,수학 중 100점이 하나라도 있는 학생의 모든 데이터

In [ ]:
# 국어점수가 50점, 100점인 학생의 모든 데이터
scores[(scores['국어']==50)|(scores['국어']==100)]

In [ ]:
# 국어점수가 null인 학생의 모든 데이터

In [ ]:
# 국어점수가 null이 아닌 학생의 모든 데이터

# 열 변경

## 열 추가/수정하기
* **데이터프레임[컬럼] = 추가할데이터**  
* **데이터프레임[컬럼] = 수정할데이터**  
컬럼이 존재하면 추가, 존재하지 않으면 수정된다.

In [ ]:
# 데이터프레임객체에 새로운 데이터의 컬럼 추가
scores['재시험여부'] = 'O'
scores

In [ ]:
# 데이터프레임객체에 재시험여부를 'X'로 변경
scores['재시험여부'] = 'X'
scores

## 열 삭제하기
* 데이터프레임.**drop**(columns=삭제할컬럼리스트, inplace=True)
* 존재하지 않는 열은 삭제할 수 없다.

In [ ]:
scores.drop(columns=['재시험여부'], inplace=True)
scores

## 특정 컬럼명 바꾸기
* 데이터프레임.**rename**(columns={'현재컬럼명1':'바꿀컬럼명1','현재컬럼명2':'바꿀컬럼명2',...})
  * 원본에 반영하려면 inplace=True 옵션을 부여합니다.

In [ ]:
scores.rename(columns={'이름': 'name'})

## 파생컬럼 추가하기
* 다른 컬럼의 값의 연산 결과를 이용하여 파생컬럼을 만들 수 있다.
  * **`데이터프레임객체['컬럼명'] = 컬럼간연산`**
  * 컬럼이 존재하면 수정, 존재하지 않으면 추가됨

In [ ]:
scores['평균'] = (scores['국어']+scores['영어']+scores['수학'])/3
scores

# 행 변경

## 마지막에 행 추가
* 데이터프레임.**append**(추가할데이터, **ignore_index=True**)
* 추가할 데이터는 딕셔너리 형태로 전달 : **{컬럼1:값1, 컬럼2:값2,...}**
* 데이터프레임의 끝에 행 추가
* 기존 인덱스는 무시하고, 인덱스가 새롭게 생성된다.

In [ ]:
# 설정된 값이 아닌 다른 값으로 바꾸어서 지정해보세요.
scores = scores.append({'이름': 'john', '성별': 'm', '국어':95, 
                        '영어':100, '수학':80}, ignore_index=True)
scores

## 인덱스 지정하여 행 추가/수정하기
* 데이터프레임.**loc[인덱스] = 추가할데이터**
* 데이터프레임.**loc[인덱스] = 수정할데이터**
* 인덱스가 존재하면 해당 인덱스의 데이터가 수정된다.
* 인덱스가 존재하지 않으면 데이터프레임의 끝에 데이터가 추가된다.

In [ ]:
# 설정된 값이 아닌 다른 값으로 바꾸어서 지정해보세요.
scores.loc[10] = ['john', 'm', 95, 100, 80, (95+100+80)/3]
scores.loc[11] = ['kevin', 'm', 70, 80, 90, 80]
scores

## 행 삭제
* 데이터프레임.**drop**(index=[삭제할인덱스리스트])
* 원본 데이터프레임에 적용 : inplace=True

In [ ]:
# 위에서 새로 추가했던 행 삭제
scores.drop(index=[10, 11], inplace=True)
scores

## 특정 인덱스 변경
* 데이터프레임.rename(index={'현재인덱스명1':'바꿀인덱스명1','현재인덱스명2':'바꿀인덱스명2',...})
  * 원본에 반영하려면 inplace=True 옵션을 부여합니다.

In [ ]:
scores.rename(index={0:1101, 1:1102, 2:1103, 3:1104, 4:1105, 
                     5:1106, 6:1107, 7:1108, 8:1109, 9:1110}, inplace=True)
scores

# 결측치 분석/처리

## 결측치 확인
* 컬럼 별 결측치 갯수 보기
  * **`데이터프레임객체.isnull().sum()`**

## 결측치 처리
* 결측치가 포함된 행 삭제
  * **`데이터프레임객체.dropna()`**  : 모두 삭제
  * **`데이터프레임객체.dropna (subset=컬럼리스트)`** : 해당 컬럼만 삭제
* 결측치를 다른 값으로 채우기
  * **`데이터프레임객체.fillna(값)`** 채우기
  * **`데이터프레임객체[컬럼].fillna(값)`**
  * **`데이터프레임.fillna(method='ffill')`** : 이전값으로 채우기
  * **`데이터프레임.fillna(method='bfill')`** : 다음값으로 채우기 
  * **`데이터프레임.fillna({'컬럼명1':값1, '컬럼명2':값2,...})`** : 컬럼별로 값을 지정하여 채우기
* 결측치를 처리한 결과를 inplace=True 옵션을 사용하여 원본에 반영하거나, 서브셋을 생성하여 사용한다.

# 중복값 처리

In [ ]:
# 샘플데이터
df = pd.DataFrame({
     'brand': ['Yam Yam', 'Yam Yam', 'Endovie', 'Endovie', 'Endovie'],
     'style': ['jacket', 'jacket', 'jacket', 'pack', 'pack'],
     'rating': [5, 7, 4.5, 10, 9]
 })
df

## 중복값 확인
* 데이터프레임객체.duplicated()
    * keep = 남길 데이터
        * 'first' : 처음 데이터 남김
        * 'last' : 마지막 데이터 남김
        * False : 남기지 않음
    * subset = 기준컬럼리스트
        * 기준 컬럼값으로 중복여부 확인

In [ ]:
# duplicated() 함수 사용하여 중복 값 확인하기

In [ ]:
# keep 옵션을 first로 지정하기
df.duplicated(keep='first')

In [ ]:
# keep 옵션을 last로 지정하기

In [ ]:
# keep 옵션을 False로 지정하기

In [ ]:
# subset 사용
# df.duplicated(subset='컬럼명')

## 중복값 제거
* 데이터프레임객체.drop_duplicates()
* 원본 데이터프레임에 적용하기 위해 inplace=True 사용

# 자료형 변경
* **`데이터프레임객체.astype({컬럼명1:자료형1, 컬럼명2:자료형2...})`**
* **`데이터프레임객체[컬럼명]=자료형`**
* 변경된 결과를 데이터프레임에 다시 할당한다.

# 시계열 자료형

In [ ]:
# 샘플데이터
d = {'이름':['스티븐 호킹','마이클 잭슨','스티브 잡스','로빈 윌리엄스','앨빈 토플러'],
 '주요경력':['이론 물리학자','가수','CEO','배우','미래학자'],
 '출생':['1942-01-08','1958-08-29','1955-02-24','1951-07-21','1928-10-04'],
 '사망':['2018-03-14','2009-06-25','2011-10-05','2014-08-11','2016-06-27'],
 }
 
df = pd.DataFrame(d)
df

## 시계열 자료형으로 변경
* pd.**to_datetime**(컬럼)

In [ ]:
# 출생일을 시계열 자료형으로 변경
df['출생'] = pd.to_datetime(df['출생'])
df

In [ ]:
# 사망일을 시계열 자료형으로 변경

## 연, 월, 일, 분기 추출
* 컬럼.dt.year
* 컬럼.dt.month
* 컬럼.dt.day
* 컬럼.dt.quarter

In [ ]:
# 출생 년도 추출
df['출생'].dt.year

In [ ]:
# 출생 월 추출

In [ ]:
# 사망 일 추출

In [ ]:
# 사망 분기 추출

## 요일, 월이름 추출하기
* 컬럼.dt.strftime('%a') : 요약된 요일이름
* 컬럼.dt.strftime('%A') : 긴 요일이름
* 컬럼.dt.strftime('%w') : 숫자요일(0:일요일)
* 컬럼.dt.strgtime('%b') : 요약된 월이름
* 컬럼.dt.strftime('%B') : 긴 월이름

In [ ]:
# 출생 컬럼으로부터 요약된 요일 이름 추출
df['출생'].dt.strftime('%a')

In [ ]:
# 출생 컬럼으로부터 숫자 요일 추출

In [ ]:
# 사망 컬럼으로부터 긴 월 이름 추출

## 날짜 계산

In [ ]:
# 사망 날짜에서 출생 날짜의 차이 계산을 통해 사망 당시나이 계산하기
df['출생연도'] = df['출생'].dt.year
df['사망연도'] = df['사망'].dt.year
df['당시나이'] = df['사망연도']-df['출생연도']
df

## datetime 자료형을 인덱스로 만들어 사용하기

In [ ]:
# 주민번호를 만들어 인덱스로 지정하기
people_number = df['출생'].dt.strftime("%y") + df['출생'].dt.strftime("%m") + df['출생'].dt.strftime("%d")
df.set_index(people_number, inplace=True)
df.index.rename('주민번호', inplace=True)
df